#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

button {
    width: 100px;
    height: 50px;
}

button:hover {
    cursor: pointer;
}